<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>UpperBar Page</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">   
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/jump_function.js"></script>
</head>
<body style="margin-top:0px;">
    <div id = "upper-bar" >
        <div class="regbar">
            <div class = "regbar-mid">
                <img src="../img/logo.png" id="logo-img" onclick="gohome()">                
            </div>
            <div class = "regbar-right">
                <img src = "../img/wolfie.png" id="profile-pic" onclick="goprofile()">
            </div>
        </div>            
    </div>

    <div id = "user-info" style="display:inline-flex">
        <div style="width:15vw">
            <img src="../img/wolfie.png" class="profile-img">
        </div>
        <div style="width:85vw">
            <span>Hi, xxxxx</span>
            <button class="kwbtn kwbtn2" id="pribtn1"  onclick="comiccreate()">Publish</button>
        </div>
    </div>
</body>
</html>